<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/icono.min.css" type="text/css">
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
